@using TakeATrip.Web.HtmlExtensions

<div class="bs-wizard clearfix">
    <div class="bs-wizard-step @OrderNavPages.YourCartNavClass(ViewContext)">
        <div class="text-center bs-wizard-stepnum">Your cart</div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <a href="#0" class="bs-wizard-dot"></a>
    </div>
    <div class="bs-wizard-step @OrderNavPages.PaymentNavClass(ViewContext)">
        <div class="text-center bs-wizard-stepnum">Payment</div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <a href="#0" class="bs-wizard-dot"></a>
    </div>
    <div class="bs-wizard-step @OrderNavPages.FinishNavClass(ViewContext)">
        <div class="text-center bs-wizard-stepnum">Finish!</div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <a href="#0" class="bs-wizard-dot"></a>
    </div>
</div>
<!-- End bs-wizard -->
