@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section class="hero_in general">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>Manage your account</h1>
        </div>
    </div>
</section>

<div class="container margin_60_35">
    <div class="row">
        <aside class="col-lg-3">
            <div class="box_style_cat">
                @await Html.PartialAsync("_ManageNav")
            </div>
            <!--/sticky -->
        </aside>
        <!--/aside -->

        <div class="col-lg-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

