* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

    /* Mark input boxes that gets an error on validation: */
    input.invalid {
        background-color: #ffdddd;
    }

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

    button:hover {
        opacity: 0.8;
        cursor: pointer;
    }

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

    .step.active {
        opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #4CAF50;
    }

.demo {
    background: #e5e5e3;
}

.pricingTable {
    text-align: center;
    background: #28b6f6;
    border-radius: 102px 0 102px 0;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

    .pricingTable:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        cursor: pointer;
    }

    .pricingTable .pricingTable-header {
        margin: -2px -5px 0;
        position: relative;
    }

    .pricingTable .pricing-content {
        padding: 0;
        margin: -25px 0 0 0;
        list-style: none;
    }

        .pricingTable .pricing-content li {
            font-size: 20px;
            color: #fff;
            line-height: 50px;
            letter-spacing: 1px;
            border-bottom: 1px solid #fff;
        }

            .pricingTable .pricing-content li.disable {
                color: rgba(255,255,255,0.5);
            }

            .pricingTable .pricing-content li:last-child {
                border-bottom: none;
            }

    .pricingTable .pricingTable-signup {
        padding: 25px 0;
    }

        .pricingTable .pricingTable-signup a path,
        .pricingTable .pricingTable-signup a text {
            transition: all 0.3s ease 0s;
        }

        .pricingTable .pricingTable-signup a:hover path {
            fill: #34454d;
            stroke: #fff;
            stroke-dasharray: 5,3;
            cursor: pointer;
        }

        .pricingTable .pricingTable-signup a:hover text {
            fill: #fff;
            cursor: pointer;
        }

@media only screen and (max-width: 990px) {
    .pricingTable {
        margin-bottom: 30px;
    }
}

#StartDate {
    cursor: pointer;
}

.table-condensed :hover {
    cursor: pointer;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}