@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="hero_in general">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>Forgot Password confirmation</h1>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</section>

